- Repeat: <<iterationsPerThread>>
  Collection: {^Parameter: {Name: "Collection", Default: "<<collectionName>>"}}
  MetricsName: "FSM"
  InitialStates:
    - State: Query
      Weight: <<ctx.readRatio>>
    - State: Update
      Weight: <<ctx.updateRatio>>
  StateTransitions: &transitions
    - To: Query
      Weight: <<ctx.readRatio>>
      SleepBefore: {^TimeSpec: {value: 0, unit: seconds}}
    - To: Update
      Weight: <<ctx.readRatio>>
      SleepBefore: {^TimeSpec: {value: 0, unit: seconds}}
  States:
    - Name: Query
      Operations:
        - OperationName: findOne
          OperationMetricsName: query
          OperationCommand:
            Filter: {state: {^ChooseFromDataset: {"path": "./dist/etc/genny/workloads/contrib/qe_test_gen/states.txt"}}}
      Transitions: *transitions
    - Name: Update
      Operations:
        - OperationName: updateOne
          OperationMetricsName: update
          OperationCommand:
            Filter: {state: {^ChooseFromDataset: {"path": "./dist/etc/genny/workloads/contrib/qe_test_gen/states.txt"}}}
            Update: {state: {^ChooseFromDataset: {"path": "./dist/etc/genny/workloads/contrib/qe_test_gen/states.txt"}}}
      Transitions: *transitions