- Repeat: <<iterationsPerThread>>
  Collection: &collection_param {^Parameter: {Name: "Collection", Default: "<<collectionName>>"}}
  MetricsName: "update"
  Operations:
  - OperationName: updateOne
    OperationMetricsName: updates
    OperationCommand:
      Filter: { <<ctx.query_field>> : <<ctx.query_value>> }
      Update: { <<ctx.update_field>> : <<ctx.update_value>> }